[submodule "daemon/third_party/asio"]
	path = daemon/third_party/asio
	url = ssh://git@github.com/cypherpunkengineering/asio
[submodule "daemon/third_party/jsonrpc-lean"]
	path = daemon/third_party/jsonrpc-lean
	url = ssh://git@github.com/cypherpunkengineering/jsonrpc-lean
[submodule "daemon/third_party/rapidjson"]
	path = daemon/third_party/rapidjson
	url = ssh://git@github.com/cypherpunkengineering/rapidjson
[submodule "daemon/third_party/websocketpp"]
	path = daemon/third_party/websocketpp
	url = ssh://git@github.com/cypherpunkengineering/websocketpp
