@import 'https://fonts.googleapis.com/css?family=Dosis';

html, body, tfoot, tr, tr, td, article, aside, canvas, details, figure, hgroup, menu,
nav, footer, header, section, summary, mark, audio, video {
  border: 0; margin: 0; padding: 0;
  user-select: none;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cit, code,
del, dfn, em, ins, q, samp, small, strong, sub, sup, b, i, hr, dl, dt, dd,
ol, ul, li, fieldset, legend, label {
  border: 0; margin: 0; padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a img {
  border: 0;
}

:focus {
  outline: 0;
}

@font-light: #dfdfdf;
@black02: #76a8e7;
@black01: #034698;
@header-bg: rgba(0, 0, 0, 0.1);


// colours from desktop app mockup
@cp_blue01: #034698;
@cp_blue02: #76a8e7;
@cp_blue03: #1560bd;
@cp_default_font: #fefefe;
@cp_black20p: rgba(0, 0, 0, 0.2);
@cp_white20p: rgba(255, 255, 255, 0.2);
@cp_white25p: rgba(255, 255, 255, 0.25);
@cp_white40p: rgba(255, 255, 255, 0.4);
@cp_yellow: #f8e71c;

.cp_bg01 {
  background: linear-gradient(328deg, @cp_blue01, @cp_blue02);
}

a, .link {
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #ccf2fd;
}

.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
}

.cp_button01 {
  display: inline-block;
  border: 1px solid #fff;
  height: 16px;
  width: 268px;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  color: #fff;
  border-radius: 4px;
  padding: 15px;
}

.cp_button02 {
  display: inline-block;
  height: 16px;
  width: 345px;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  background: @cp_white25p;
  color: #fff;
  padding: 15px;
}

.cp_input01 {
  display: inline-block;
  height: 18px;
  width: 270px;
  text-align: left;
  background: @cp_white20p;
  color: @cp_white40p;
  border: none;
  font-size: 16px;
  padding:15px;
}


.startup {
  padding-top: 40px;
}

.startup div:nth-of-type(1) .cp_input01{
  border-radius: 4px 4px 0 0;
  margin-bottom: 2px;
}

.startup div:nth-of-type(2) .cp_input01{
  border-radius: 0 0 4px 4px;
  margin-bottom: 20px;
}

.startup .forgot_password {
  text-decoration: underline;
  font-size: 14px;
  margin-top: 20px;
}

.startup .sign_up {
  .cp_button02;
  color: @cp_yellow;
  height: 18px;
  .bottom;
}




input, textarea {
  -webkit-app-region: no-drag;
}

.clicky {
  -webkit-app-region: no-drag;
}

html, body {
  height: 100%;
	line-height: 1.5;
}

body {
  font-family: Dosis;
  font-size: 100%;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 100;
	color: @cp_default_font;
  .cp_bg01;
  -webkit-app-region: drag;
}


header {
  background: @header-bg;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

header div {
  padding: 0 15px 0 15px;
  height: 55px;
  line-height: 55px;
  flex: none;
}

header img {
  position: relative;
  top: -2px;
  vertical-align: middle;
}

header span {
  display: inline-block;
  letter-spacing: 0.1em;
  margin-left: 10px;
}

.hide {
  display: none;
}




nav span {
  flex: 1;
  padding: 10px 0;
  margin: 2px 2px 0 2px;
  color: rgba(255, 255, 255, 0.6);
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

nav span:hover {
  background: rgba(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 0.7);

}

nav {
  padding: 0 4px 0 4px;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  margin-bottom: 8px;
  //border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.settn {
  //  overflow: scroll;
  padding: 4px 0 4px 4px;
  height: 450px;
  width: 340px;
  margin: auto;
  .scrollbar;
  background-color: rgba(255, 255, 255, 0.1);
}


.button {
  display: inline-block;
  width: 80%;
  padding: 10px 0;
  margin: 2px 2px 0 2px;
  color: rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
}


.button:hover {
  color: rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.5);
}

.startup img {
  opacity: 0.5;
}

.connect {
    vertical-align: middle;
    position: relative;
    top: 100px;
    font-size: 24px;
}

.region-select {
  vertical-align: middle;
  background: @header-bg;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  height: 58px;
}



.scrollbar (@color: rgba(0, 0, 0, 0.2), @width: 6px, @height: 10px) {
  overflow: auto;

  &::-webkit-scrollbar {
    width: @width;
    height: @height;
  }

  &::-webkit-scrollbar-button:start:decrement,
  &::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 0;
    background-color: transparent;
  }

  &::-webkit-scrollbar-track-piece {
    border-radius: 0;

  }

  &::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: @color;
    border-radius: 0;
  }

  &::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: @color;
    border-radius: 0;
  }
}
