html, body {
	border: 0;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

div, span, object, iframe, img, table, caption, thead, tbody,
tfoot, tr, tr, td, article, aside, canvas, details, figure, hgroup, menu,
nav, footer, header, section, summary, mark, audio, video {
  border: 0;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cit, code,
del, dfn, em, ins, q, samp, small, strong, sub, sup, b, i, hr, dl, dt, dd,
ol, ul, li, fieldset, legend, label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a img {
  border: 0;
}

:focus {
  outline: 0;
}


@disconnected1: #fbfbfb;
@disconnected2: #efefef;
@connecting1: #c6c6c6;
@connecting2: #909090;
@connected1: #393939;
@connected2: #1c1c1c;
@dark: #393939;
@font-light: #efefef;

.gradient-light(@deg) {
  background: linear-gradient(@deg, @disconnected1, @disconnected2);
}

.gradient-medium(@deg) {
  background: linear-gradient(@deg, @connecting1, @connecting2);
}
.gradient-dark(@deg) {
  background: linear-gradient(@deg, @connected1, @connected2);
}

html {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Arial, Helvetica; font-size: 100%;
  text-align: center;
  font-weight: 300;
  .gradient-light(-25deg);
}

header {
  height: 55px;
  .gradient-dark(170deg);
  border-bottom: 3px solid @dark;
  vertical-align: middle;
}

header img {
  position: relative;
  top: 8px;
  display: inline-flex;
  opacity:1;
}

header div:nth-child(3) {
	position: absolute;
	right: 3px;
	top: 3px;
	width: 40px;

}

header h1 {
  display: inline-flex;
  position: relative;
  top: -4px;
  font-size: 0.9em;
  font-weight: 100;
  color: @font-light;
}

footer {
  bottom: 0;
	height: 45px;
  border-top: 3px solid @dark;
  width: 100%;
  color: @font-light;
  position: fixed;
  .gradient-dark(170deg);
	vertical-align: middle;
}

#content {
	padding-top: 40px;
}
