@cpBlue:      #034698;
@cpLightBlue: #76a8e7;
@cpDarkBlue:  #0f3c75;
@cpBg:        #1560bd;
@cpBgMed:     #384857;
@cpBgDark:    #023f7d;
@cpYellow:    #f8e71c;
@cpYellowDark: #f8cf1c;
@cpWhite20:   rgba(255,255,255,0.2);
@cpWhite25:   rgba(255,255,255,0.25);
@cpWhite40:   rgba(255,255,255,0.4);
@cpWhite60:   rgba(255,255,255,0.6);
@cpOrange:    #ffc933;
@cpOrangeDark:#d19e12;

@dragbarHeight:  36px;
@headerHeight:   50px;
@fullHeaderHeight:   (@dragbarHeight + @headerHeight);

@loaderRingColor: rgba(0,0,0,0.1);
@loaderActiveColor: rgba(255,255,255,0.8);

@border-light: rgba(255,255,255,0.25);

// Mixins
.bodyHeight {
  height: calc(~"100vh -" @fullHeaderHeight);
}

.border-full--light {
  border: 1px solid @border-light;
}

.blur {
  filter: blur(1px);
}

.draggable {
  -webkit-app-region: drag;
}
.nondraggable {
  -webkit-app-region: no-drag;
}

#window-close {
  position: fixed;
  top: 0;
  right: 0;
  width: @dragbarHeight;
  height: @dragbarHeight;
  line-height: @dragbarHeight;
  font-size: 18px;
  margin: 0;
  z-index: 9001;
  opacity: 0.25;
  .nondraggable;
  &:before {
    content: '\f00D';
  }
  &:hover, &:active {
    &:before {
      content: '\f057';
    }
  }
}

// Background Gradient
.bg-gradient--main {
  // background-image: linear-gradient(@cpBg, @cpBgDark);
  background: linear-gradient(329deg, @cpBg, @cpLightBlue), @cpBg;
}

// Button Gradient
.btn-gradient--primary {
  background-image: linear-gradient(to top, @cpOrangeDark, @cpOrange);
}


* {
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-select: none;
  &:focus {
    outline: none;
  }
}
html, body {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  cursor: default;
  touch-action: none;
}
body {
  color: #fff;
  background: @cpBg;
  // transition: 2s background;
  font-family: Dosis;
  font-weight: 500;
  line-height: normal;
  overflow-y: hidden;
  //-webkit-font-smoothing: antialiased;
  height: 100vh;
  // height: calc(~"100vh -" (@dragbarHeight));
  // top: 30px;
  .bg-gradient--main;
}


/*:not(input):not(textarea), :not(input):not(textarea)::after, :not(input):not(textarea)::before { -webkit-user-select: none; user-select: none; cursor: default; }*/
/*input, button, textarea, :focus { outline: none; }*/
/*a:not([draggable=true]), img:not([draggable=true]) { -webkit-user-drag: none; user-drag: none; }
a[href^="http://"], a[href^="https://"], a[href^="ftp://"] { -webkit-user-drag: auto; user-drag: auto; }*/

//#root-container { position: absolute; left: 0; top: 0; right: 0; bottom: 0; }

#root-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.cp.title {
  white-space: nowrap;
  line-height: normal;
  span {
    display: inline-block;
  }
  span:first-child {
    font-weight: 200;
    border-right: 1px solid #fff;
    padding: 0.3em 0.3em 0.4em 0;
  }
  span:last-child {
    font-weight: 600;
    padding: 0.3em 0 0.4em 0.3em;
  }
}

.cp.dragbar {
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  height: @dragbarHeight;
  z-index: 1001;
  .draggable;

  &.dark {
    background-color: @cpBg;
  }

  a {
    .nondraggable;
  }
}

.cp.titlebar {
  width: 100%;
  height: @fullHeaderHeight;
  z-index: 1001;
  font-size: 20px;
  padding-top: (@dragbarHeight - 6px);
  display: flex;
  align-items: center;
  justify-content: center;
  .draggable;

  .title {
    font-size: 110%;
    width: 100%;
    text-align: center;
  }

  * {
    flex-grow: 1;
  }

  a {
    .nondraggable;
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5em;
    height: 2em;
    margin: 0 1em;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.1s ease-in;
    color: #fff;
    &:hover, &:focus, &:active {
      color: #fff;
      opacity: 1;
    }
    &.back {
      align-self: stretch;
      width: 3em;
      margin: 0;
      height: auto;
    }
  }

  .account img {
    height: 26px;
  }
}

#main-background {
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  overflow: hidden;
  //background-color: #666;
  // background: linear-gradient(328deg, @cpBlue, @cpLightBlue);
  // .bg-gradient--main;
  transition: 5s background;
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    //background: radial-gradient(circle 300px at 50% 200px, rgba(0,0,0,0), #444, #222);
  }

  > div {
    position: absolute;
    left: 50%;
    top: 200px;
    margin-left: -150px;
    margin-top: -150px;
    width: 300px;
    height: 300px;
    opacity: 0;
    transition: 2s opacity;
  }

  img {
    position: absolute;
    -webkit-filter: saturate(0.0);
    transition: 3s -webkit-filter;
    visibility: hidden;
  }

  &.animating {
    div {
      opacity: 1.0;
    }

    img {
      animation: bge 7s ease-in infinite, bgo 7s linear infinite;
      opacity: 0;
      visibility: visible;
    }

    .r1 { animation-delay: 0s; }
    .r2 { animation-delay: 1s; }
    .r3 { animation-delay: 2s; }
    .r4 { animation-delay: 3s; }
    .r5 { animation-delay: 4s; }
    .r6 { animation-delay: 5s; }
    .r7 { animation-delay: 6s; }
    .stop img { animation-iteration-count: 1; }
  }
}

/*
.disconnected #main-background { background-color: #766; }
.connected #main-background {
  background-color: #686;
  img {
    -webkit-filter: saturate(0.5);
  }
}
*/

#onezeros {
  .bodyHeight;
  font-family: Menlo;
  font-size: 21px;
  // height: calc(~"100vh -" (@dragbarHeight + @headerHeight));
  line-height: 21px;
  letter-spacing: 0.4px;
  position: absolute;
  width: 100%;
  text-align: center;
  color: rgba(255,255,255,0.07);
  top: @fullHeaderHeight;
  left: 0;
  word-wrap:break-word;
  overflow-y: hidden;
  .blur;
}

@keyframes bge { from { transform: scale(0.5) rotate(0deg); } to { transform: scale(1.5) rotate(360deg); } }
@keyframes bgo { 0% { opacity: 0 } 10% { opacity: 0.7; } 100% { opacity: 0 } }

// review
.screen {
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  display: flex;
  flex-flow: column;
}


#connect-screen {
  .screen;
  background: linear-gradient(to top, #034698, #4c8ee1);
  display: flex;
  flex-direction: column;
  align-items: center;
  #connect-container {
    z-index: 1;
    cursor: pointer;
    margin-top: (130px - @fullHeaderHeight);
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      pointer-events: none;
      -webkit-filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.5));
    }
  }
  #region-select {
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 16px;
    padding: 14px;
    border-radius: 0 !important;
    background: #3370bb;
    transition: background-color 0.3s;
    &.active {
      background-color: #4c81c3;
    }
    > i.dropdown.icon {
      top: 13px;
      right: 14px;
      font-family: 'icons' !important;
      &::before {
        content: '\f077' !important;
      }
    }
    &.active > i.dropdown.icon::before {
      content: '\f078' !important;
    }
    > .menu {
      border-radius: 0 !important;
      background: linear-gradient(0deg, #669fe4, #5282bd);
      max-height: calc(~"100vh - " (@fullHeaderHeight + 44px)); // FIXME: Hardcoded height of region selector
      > .header {
        cursor: default;
        color: rgba(255,255,255,0.6);
      }
      > .item {
        padding: 0.5em 14px !important;
        border-top: none !important;
        border-bottom: 1px solid rgba(255,255,255,0.2);
        color: rgba(255,255,255,0.75);
        &:first-child {
          border-top: 1px solid rgba(255,255,255,0.16) !important;
        }
        &:hover {
          color: #fff;
          background: rgba(0,0,0,0.05);
        }
        &.selected {
          font-weight: 500;
          color: @cpYellow;
          background: rgba(0,0,0,0.10);
        }
        &.disabled {
          opacity: 1; // don't dim entire item, as that would affect borders
          color: rgba(255,255,255,0.25);
          .flag, .cp-fav {
            opacity: 0.25 !important;
          }
        }
        i.cp-fav.icon {
          cursor: pointer;
          font-size: 120%;
          position: absolute;
          right: 0;
          color: rgba(255,255,255,0.5);
          &:before {
            content: '\f006';
          }
          &:hover {
            color: #fff !important;
          }
        }
        &.favorite i.cp-fav.icon {
          color: @cpYellow;
          &:before {
            content: '\f005';
          }
        }
      }
    }
    > .text .cp-fav {
      display: none;
    }
    i.ch.flag {
      position: relative;
      left: 3px;
    }
  }
}

#login-screen {
  .screen;
  .bg-gradient--main;
  text-align: center;
  padding: 3em 2.5em 0;

  .logo {
    margin-top: 20px;
    width: auto;
    height: 80px;
    opacity: 0.5;
  }

  h3.title {
    font-size: 150%;
    margin-top: 0.5em;
    margin-bottom: 2em;
  }

  form {
    input {
      border: none;
      background: rgba(255,255,255,0.1);
      width: 100%;
      color: #fff;
      padding: 15px;
      font-size: 125%;
      transition: background-color 0.2s;
      border-radius: 6px;

      &:focus {
        background: rgba(255,255,255,0.16);
      }
    }
    .input {
      width: 100%;
      &.icon .icon {
        font-size: 120%;
      }
      &.loading.icon .icon {
        margin-right: 0.5em;
        cursor: default;
        pointer-events: none;
      }
      + .input {
        margin-top: 2px;
      }
      &.group {
        input {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
        + .input input {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }
    }
  }

  .desc {
    font-size: 130%;
    font-weight: 300;
    color: rgba(255,255,255,0.8);
    margin-bottom: 1em;
  }

  .back {
    position: absolute;
    bottom: 25px;
  }

  .login-check {
    .loader {
      margin-top: 30px;
    }
  }

  .login-email {
    .welcome {
      font-size: 170%;
      font-weight: 600;
      margin-bottom: 1em;
    }
  }

  .login-password {

  }

  .login-register {
    .loader {
      margin-top: 30px;
    }
  }

  .login-confirm {
    .loader {
      margin-top: 30px;
    }
  }

  .cp.button {
    display: inline-block;
    cursor: pointer;
    width: 100%;
    font-size: 125%;
    color: rgba(255,255,255,0.75);
    background: rgba(0,0,0,0.125);
    box-shadow: 2px 5px 5px -5px rgba(0,0,0,0.5);
    line-height: 1em;
    padding: 0.6em;
    margin-top: 1em;
    border-radius: 2px;
    transition: background-color 0.2s, color 0.2s;
    border: none;

    &:hover,
    &:focus {
      background: rgba(0,0,0,0.25);
      color: #fff;
      outline: none;
    }

    .icon {
      margin-left: -1.18em;
    }
  }

  a.link {
    cursor: pointer;
    color: rgba(255,255,255,0.3);
    text-decoration: none;
    font-size: 14px;
    padding: 2px 0;
    border-bottom: 1px dotted transparent;
    transition: color 0.2s, border-bottom-color 0.2s, visibility 0.2s;
    display: block;
    &:hover, &:active, &:focus {
      color: @cpYellow !important; //#fff;
      border-bottom: 1px dotted #fff;
    }
  }
  .forgot {
    float: right;
    position: relative;
    margin-top: 4px;
  }
  .back {
    position: absolute;
    font-size: 16px !important;
    bottom: 25px;
    border-color: transparent !important;
  }

  input:focus + .forgot {
    color: rgba(255,255,255,0.5);
  }

  input:valid + .forgot {
    color: transparent;
    visibility: hidden;
  }

  .login {
    margin-top: 0.3em;
  }

  .signup {
    color: @cpYellow !important;
  }

  .divider {
    margin: 1.5em 2em 1.3em;
    color: rgba(255,255,255,0.25);
    font-size: 90%;
  }

  .dimmer {
    background-color: rgba(0,0,0,0.4) !important;
  }

  a:focus {
    outline: none;
  }
}


#connect-status {
  margin-top: 5px;
  font-size: 24px;
  font-weight: 600;
  color: #ccc;
}

#connection-stats {
  margin-top: 30px;
  width: 60%;
  display: none;

  .value {
    color: #aaa;
  }

  .label {
    color: #777;
  }
}

// #connection-stats .value {
//   color: #aaa;
// }
//
// #connection-stats .label {
//   color: #777;
// }

#config-screen {
  .screen;
}

#upgrade {
  // width: 200px !important;
  // height: 40px !important;
  // border: 1px solid #fff !important;
  // box-shadow: none !important;
}

dialog {
  border: none;
  margin: 0;
  padding: 0;
  &::backdrop {
    background: none;
  }
  &.dimmer {
    z-index: 9000;
    background: rgba(0,0,0,0.6) !important;
    a {
      cursor: pointer;
      position: relative;
      top: 96%;
      padding-bottom: 2px 0;
      border-bottom: 1px solid transparent;
      &:hover, &:active, &:focus {
        color: @cpYellow !important; //#fff;
        border-bottom: 1px dotted #fff;
      }
    }
  }
}

// Used to turn Semantic tooltips translucent
[data-tooltip][data-inverted] {
  &:before, &:after {
    //background-color: #4670a7 !important;
  }
}

.ui.input.loading.icon .icon {
  &:before {
    border-color: @loaderRingColor !important;
  }
  &:after {
    border-color: @loaderActiveColor transparent transparent !important;
  }
}
.ui.loader {
  &:before {
    border-color: @loaderRingColor !important;
  }
  &:after {
    border-color: @loaderActiveColor transparent transparent !important;
  }
}

// button styles
.ui.button {
  display: inline-block;
  cursor: pointer;
  width: 100%;
  font-size: 125%;
  color: rgba(255,255,255,0.75);
  background: rgba(0,0,0,0.125);
  box-shadow: 2px 5px 5px -5px rgba(0,0,0,0.5);
  line-height: 1em;
  padding: 0.6em;
  border-radius: 2px;
  transition: background-color 0.2s, box-shadow 0.2s, color 0.2s;
  border: none;

  &:hover,
  &:focus {
    background: rgba(0,0,0,0.25);
    box-shadow: 2px 7px 8px -5px rgba(0,0,0,0.5);
    color: #fff;
    outline: none;
  }

  .icon {
    margin-left: -1.18em;
  }
}


// button,
// button.button,
// #update {
//   padding: 1rem;
//   width: 100%;
// }

.button1 {
  display: inline-block;
  // border: 1px solid #fff;
  height: 40px;
  width: 300px;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  color: #fff;
  border-radius: 4px;
  padding: 11px;
  background-color: @cpYellow;
  .btn-gradient--primary;
}

.button2 {
  display: inline-block;
  height: 40px;
  width: 300px;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  background: @cpWhite25;
  color: #fff;
  padding: 11px;
}



#status-screen {
  min-height: 459px;
  background: rgba(255,255,255,0.16);
  position: relative;
  top: @fullHeaderHeight;
}



.container__comp {
  height: 100vh !important;

  &.account {
    background-color: @cpBgDark;
    overflow-y: auto;
    .bodyHeight;
  }
}



.account,
.settings {
  .ui.grid>.row>.olive.column {
    background-color: transparent !important;
  }
}

.container__comp--config {
  .bodyHeight;
  color: #f8cf1c;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  // top: @headerHeight;

  .header {
    margin: 14px 1rem;
    text-transform: uppercase;
    width: 100%;
  }
}

.cp_config_header {
  font-size: 20px !important;
  // height: 49px !important;
  // min-height: 49px !important;
  border-bottom: 1px solid rgba(255,255,255,0.15) !important;
  height: (@dragbarHeight + @headerHeight);
  padding-top: @dragbarHeight;
  // position: absolute;
  top: 0;
  z-index: 1001;
  .draggable;

  &.ui.menu.inverted {
    background: none;
  }

  &.ui.menu .item {
    padding-left: 0.5rem;
  }

  .account & {
    background-color: @cpBgDark;
  }
}

.settingsContainer {
  position: relative;
  top: 56px;
  overflow-x: hidden;
  overflow-y: scroll;
  .bodyHeight;
}

.cp-settings {
  .header {
    text-transform: uppercase;
    margin: 14px 1rem;
    color: @cpYellowDark;
    padding-top: 0;
    padding-bottom: 0;
  }
  .dropdown {
    font-size: 1rem !important;
  }
}

.cp_config_tabs {
  font-size: 16px !important;
  height: 48px !important;
  min-height: 48px !important;
}

.cp_account_avatar {
  font-size: 20px !important;
  // height: 60px !important;;
  line-height: 30px !important;
  width: 100% !important;
}

.cp_account_stats {
  font-size: 1.5rem;
  margin-top: 10px !important;
}

.cp_renew_date {
  font-size: 14px;
  color: #fff;
  display: block;
  margin-top: 10px;
}

.cp_h3 {
  font-size: 14px !important;
  text-transform: uppercase;
}

.cp_row {
  font-size: 16px !important;
  min-height: 48px !important;
  line-height: 16px !important;

  .right {
    i {
      margin-right: 0;
    }
  }
}

.cp_button {
  // width: 200px !important;
  height: 40px !important;
  border-radius: 5px !important;
  border: solid 1px #cccccc !important;
}

small {
  display: block !important;
  color: rgba(255,255,255,0.6) !important;
  font-size: 14px !important;
  line-height: 1 !important;
  padding-top: 2px !important;
}

.tabscroll {
  // max-height: 411px;
  // overflow-x: hidden;
  // overflow-y: scroll;
  height: calc(~"100vh -" (@dragbarHeight + @headerHeight));
}



// Forms
.cp-form {
  overflow-y: auto;
  padding-bottom: 4rem;
  .bodyHeight;

  .row {
    display: flex;
    flex-direction: column;
    padding: 0.75rem 1rem;
    align-items: center;
    // border-bottom: 1px solid @border-light;
  }

  .form__field {
    position: relative;
    width: 100%;
    // flex-direction: row;
    // flex-grow: 2;
    // text-align: right;

    .material & {
      border-bottom: 1px solid @border-light;
      flex-direction: row;
      align-items: center;

      i.icon {
        color: rgba(255,255,255,0.5);
        margin-right: 0.5rem;
        position: absolute;
        top: 1rem;
      }
    }
  }

  .isolate {
    margin-top: 1.5rem;
  }

  input[type="text"],
  input[type="password"] {
    background: 0 0;
    .border-full--light;
    font-size: 1.25rem;
    padding: 0.75rem 1rem;
    width: 100%;

    &:focus {
      outline: none;
      background-color: darken(@cpBgDark, 5);
    }

    .material & {
      border: none;
      border-bottom: 1px solid @border-light;
      padding-left: 2rem;
      transition: all ease 0.2s;
      width: 100%;

      &:focus {
        background-color: transparent;
        border-color: #fff;
      }
    }
  }

  .actions__form {
    padding: 0.75rem 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .button {
    background-color: @cpBg;
    // border: 1px solid rgba(255,255,255,0.75);
    &:hover {
      background-color: lighten(@cpBg, 10);
    }
  }
}


// Basic panel with rows
.cp-panel__rows {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  text-align: left;

  .setting {
    border-bottom: 1px solid @border-light;
    font-size: 1.25rem;
  }

  .row {
    padding: 0 1rem;
  }

  a {
    cursor: pointer;
    display: block;
    padding: 1rem 0;
  }

  .icon {
    margin-right: 0.5rem;
  }

  h1 {
    color: @cpYellow;
    font-size: 1rem;
    margin-bottom: 0.25rem;
    text-transform: uppercase;
  }

  .descrip {
    color: @cpWhite60;
    margin-bottom: 0.5rem;
  }

  .fieldgroup {
    padding: 0.5rem 0;
  }
}




// Positioning
.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}


// Scrolbars
::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-button {
  width: 8px;
  display: none;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-track-piece {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  width: 6px;
  border-radius: 10px;
  background: rgba(255,255,255,0.3);
  &:hover {
    background: rgba(255,255,255,0.4);
  }
}
::-webkit-scrollbar-corner {
  width: 8px;
}
::-webkit-resizer {
  width: 8px;
}


// Animations

@screenTransitionTime: 350ms;
@easeInQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
@easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
@easeInBack: cubic-bezier(0.6, -0.28, 0.735, 0.045);
@easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
@stepSlide: cubic-bezier(0.35, -0.25, 0.35, 1.0);

#root-container > .transition-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}
.transition-container {
  position: relative;
  padding: 0;
  width: 100%;
  flex-grow: 1;
  > * {
    position: absolute !important;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.fadeIn {
  @transitionTime: @screenTransitionTime;
  &-enter {
    opacity: 0;
    &-active {
      opacity: 1;
      transition: opacity @transitionTime ease-in;
    }
  }
  &-leave {
    opacity: 1;
    pointer-events: none !important;
    &-active {
      opacity: 0;
      transition: opacity @transitionTime ease-in;
    }
  }
  &-appear {
    opacity: 0;
    &-active {
      opacity: 0;
      transition: opacity @transitionTime ease-in;
    }
  }
}

.nudgeLeft {
  @transitionTime: 700ms;
  &-enter {
    transform: translateX(100vw);
    opacity: 0;
    &-active {
      transform: translateX(0);
      opacity: 1;
      transition: transform @transitionTime @stepSlide, opacity @transitionTime @easeInQuart;
    }
  }
  &-leave {
    transform: translateX(0);
    opacity: 1;
    pointer-events: none !important;
    &-active {
      transform: translateX(-100vw);
      opacity: 0;
      transition: transform @transitionTime @stepSlide, opacity @transitionTime @easeOutQuart;
    }
  }
}
.nudgeRight {
  @transitionTime: 700ms;
  &-enter {
    transform: translateX(-100vw);
    opacity: 0;
    &-active {
      transform: translateX(0);
      opacity: 1;
      transition: transform @transitionTime @stepSlide, opacity @transitionTime @easeInQuart;
    }
  }
  &-leave {
    transform: translateX(0);
    opacity: 1;
    pointer-events: none !important;
    &-active {
      transform: translateX(100vw);
      opacity: 0;
      transition: transform @transitionTime @stepSlide, opacity @transitionTime @easeOutQuart;
    }
  }
}

.swipeLeft {
  @transitionTime: @screenTransitionTime;
  &-enter {
    transform: translateX(100vw);
    &-active {
      transform: translateX(0);
      transition: transform @transitionTime ease-out;
    }
  }
  &-leave {
    transform: translateX(0);
    pointer-events: none !important;
    &-active {
      transform: translateX(-100vw);
      transition: transform @transitionTime ease-out;
    }
  }
}

.swipeRight {
  @transitionTime: @screenTransitionTime;
  &-enter {
    transform: translateX(-100vw);
    &-active {
      transform: translateX(0);
      transition: transform @transitionTime ease-out;
    }
  }
  &-leave {
    transform: translateX(0);
    pointer-events: none !important;
    &-active {
      transform: translateX(100vw);
      transition: transform @transitionTime ease-out;
    }
  }
}



@panelWidth: 85vw;
@leftPanelWidth: @panelWidth;
@rightPanelWidth: @panelWidth;


.panel {
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  color: #fff;
  background: transparent;

  dialog& > div { // modal wrapper
    width: 100%;
    height: 100%;
    overflow: hidden;
    > div {
      width: 100%;
      height: 100%;
    }
  }

  .titlebar {
    text-align: center;
  }

  .content {
    width: 100%;
    height: calc(~"100vh - " @fullHeaderHeight);
    &.scrollable {
      overflow-x: hidden;
      overflow-y: auto;
    }
    .pane {
      background: rgba(255,255,255,0.16);

      &[data-title]:before {
        font-size: 14px;
        content: attr(data-title);
        display: block;
        width: 100%;
        padding: 10px 15px 2px;
        color: @cpYellowDark;
      }
      + .pane {
        margin-top: 10px;
      }

      .setting {
        width: 100%;
        min-height: 44px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        position: relative;
        color: rgba(255,255,255,0.75);
        cursor: pointer;

        > * {
          //flex-grow: 1;
        }
        label {
          cursor: pointer;
          flex-grow: 1;
        }

        > a {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-grow: 1;
          padding: 8px 15px 9px;
          color: inherit;
          &:after {
            font-family: 'Icons';
            content: "\f105";
            flex-grow: 0;
            font-size: 22px;
            color: rgba(255,255,255,0.75);
            margin-left: 10px;
          }
          &:hover, &:focus {
            color: #fff;
            &:after {
              color: inherit;
            }
          }
          &:focus {
            outline: none !important;
            &:after {
              text-shadow: 0 0 10px #fff;
            }
          }
        }

        > .ui.checkbox {
          > input:checked + label {
            color: inherit;
          }
          > label {
            color: inherit;
          }
        }

        > .ui.dropdown {
          order: 10;
          width: auto;
          font-size: 15px;
          margin-right: 15px;
          margin-top: 1px;
          background: rgba(0,0,0,0.08) !important;
          white-space: nowrap;
          &:hover {
            color: #fff !important;
          }
          > .menu {
            background: #6283ad;
            > .item {
              border-color: rgba(255,255,255,0.5);
              &:hover, &:focus {
                background: rgba(255,255,255,0.1) !important;
                color: #fff;
              }
              &.selected {
                color: @cpYellowDark !important;
              }
            }
          }
          + label {
            margin-left: 15px;
          }
        }

        > .ui.input {
          order: 10;
          width: auto;
          margin-right: 15px;
          > input {
            padding: 4px 8px;
            border: 1px solid rgba(255,255,255,0.16);
            border-radius: 5px;
            &:focus {
              border-color: #fff;
            }
          }
          + label {
            margin-left: 15px;
          }
        }

        + .setting {
          background-image: linear-gradient(to bottom, rgba(255,255,255,0.3) 1px, transparent 1px);
        }
        &:hover {
          background: linear-gradient(to left, rgba(255,255,255,0.1), transparent);
        }
        + .setting:hover {
          background-image: linear-gradient(to bottom, rgba(255,255,255,0.3) 1px, transparent 1px), linear-gradient(to left, rgba(255,255,255,0.1), transparent);
        }
      }
    }
    .collapsible {
      > .collapsible-title {
        font-size: 18px;
        padding: 10px 15px;
      }
      > .collapsible-content {

      }
    }
  }

  // Main screen (i.e. connect screen) should always act disabled when a panel is present
  ~ .screen {
    pointer-events: none !important;
  }

  // Panel which goes on the left side of the screen
  &.left {
    left: 0;
    width: @leftPanelWidth;

    > div {
      background: linear-gradient(to left, rgba(0,0,0,0.25) 0, transparent 30px), linear-gradient(329deg, transparent, rgba(255,255,255,0.2)), @cpDarkBlue;
    }

    ~ .screen {
      transform: translateX(@leftPanelWidth);
    }

    &.reveal {
      @transitionTime: @screenTransitionTime;
      &-enter {
        pointer-events: none !important;
        &::backdrop { pointer-events: none !important; }
        > div { transform: translateX(-@leftPanelWidth); }
        ~ .screen { transform: translateX(0); pointer-events: none !important; }
        &-active {
          > div { transform: translateX(0); transition: transform @transitionTime ease-out; }
          ~ .screen { transform: translateX(@leftPanelWidth); transition: transform @transitionTime ease-out; }
        }
      }
      &-leave {
        pointer-events: none !important;
        &::backdrop { pointer-events: none !important; }
        > div { transform: translateX(0); pointer-events: none !important; }
        ~ .screen { transform: translateX(@leftPanelWidth); }
        &-active {
          > div { transform: translateX(-@leftPanelWidth); transition: transform @transitionTime ease-out; }
          ~ .screen { transform: translateX(0); transition: transform @transitionTime ease-out; }
        }
      }
    }
  }

  // Panel which goes on the right side of the screen
  &.right {
    left: calc(~"100vw - " @rightPanelWidth);
    width: @rightPanelWidth;

    > div {
      background: linear-gradient(to right, rgba(0,0,0,0.25) 0, transparent 30px), linear-gradient(329deg, transparent, rgba(255,255,255,0.2)), @cpDarkBlue;
    }

    ~ .screen {
      transform: translateX(-@rightPanelWidth);
    }

    &.reveal {
      @transitionTime: @screenTransitionTime;
      &-enter {
        pointer-events: none !important;
        &::backdrop { pointer-events: none !important; }
        > div { transform: translateX(@rightPanelWidth); }
        ~ .screen { transform: translateX(0); pointer-events: none !important; }
        &-active {
          > div { transform: translateX(0); transition: transform @transitionTime ease-out; }
          ~ .screen { transform: translateX(-@rightPanelWidth); transition: transform @transitionTime ease-out; }
        }
      }
      &-leave {
        pointer-events: none !important;
        &::backdrop { pointer-events: none !important; }
        > div { transform: translateX(0); }
        ~ .screen { transform: translateX(-@rightPanelWidth); }
        &-active {
          > div { transform: translateX(@rightPanelWidth); transition: transform @transitionTime ease-out; }
          ~ .screen { transform: translateX(0); transition: transform @transitionTime ease-out; }
        }
      }
    }
  }
}



.account.panel {
  .content {
    .user.pane {
      text-align: center;
      padding: 3px 15px 10px;
      .user {
        height: 48px;
        font-size: 17px;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        img { width: auto; height: 30px; margin-right: 10px; }
        span { line-height: 48px; overflow-x: hidden; text-overflow: ellipsis; }
      }
      .plan {
        font-size: 17px;
        line-height: 20px;
        &.premium {
          color: @cpYellowDark;
        }
      }
      .period {
        font-size: 13px;
        line-height: 20px;
        color: rgba(255,255,255,0.6);
      }
    }
  }
}

.settings.panel {
  .content {

  }
}

@import "region-selector.less";
