// Mixins

.border-full--light {
  border: 1px solid @border-light;
}

.blur {
  filter: blur(1px);
}

// Background Gradient
.bg-gradient--main {
  // background-image: linear-gradient(@cpBg, @cpBgDark);
  background: linear-gradient(329deg, @cpBg, @cpLightBlue), @cpBg;
}

// Button Gradient
.btn-gradient--primary {
  background-image: linear-gradient(to top, @cpOrangeDark, @cpOrange);
}


* {
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-select: none;
  &:focus {
    outline: none;
  }
}

.draggable {
  -webkit-app-region: drag;
}
.nondraggable {
  -webkit-app-region: no-drag;
}

// Scrollbars
::-webkit-scrollbar {
	width: 8px;
}
//::-webkit-scrollbar-button {}
//::-webkit-scrollbar-track {}
//::-webkit-scrollbar-track-piece {}
::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.3);
  &:hover {
    background: rgba(255,255,255,0.4);
  }
}
//::-webkit-scrollbar-corner {}
//::-webkit-resizer {}

html, body {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  cursor: default;
  touch-action: none;
}

html {
  background: @themeBodyBackground;
}
body {
  background: transparent;
  // transition: 2s background;
  font-family: Dosis, Arial, sans-serif;
  font-weight: 400;
  line-height: normal;
  overflow-y: hidden;
  height: 100vh;
  // height: calc(~"100vh -" (@dragbarHeight));
  // top: 30px;
}

input, button, textarea {
  font-family: Dosis, Arial, sans-serif;
  color: inherit;
}

.bodyHeight {
  height: calc(~"100vh -" @fullHeaderHeight);
}

/*:not(input):not(textarea), :not(input):not(textarea)::after, :not(input):not(textarea)::before { -webkit-user-select: none; user-select: none; cursor: default; }*/
/*input, button, textarea, :focus { outline: none; }*/
/*a:not([draggable=true]), img:not([draggable=true]) { -webkit-user-drag: none; user-drag: none; }
a[href^="http://"], a[href^="https://"], a[href^="ftp://"] { -webkit-user-drag: auto; user-drag: auto; }*/

//#root-container { position: absolute; left: 0; top: 0; right: 0; bottom: 0; }

#root-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.cp.title {
  white-space: nowrap;
  line-height: normal;
  span {
    display: inline-block;
  }
  span:first-child {
    font-weight: 200;
    border-right: 1px solid #fff;
    padding: 0.3em 0.3em 0.4em 0;
  }
  span:last-child {
    font-weight: 500;
    padding: 0.3em 0 0.4em 0.3em;
  }
}

.cp.dragbar {
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  height: @dragbarHeight;
  z-index: 1001;
  .draggable;

  &.dark {
    background-color: @cpBg;
  }

  a {
    .nondraggable;
  }
}

[data-tooltip] {
  &::before, &::after {
    color: black !important;
    z-index: 10;
  }
  &::before {
    z-index: 11;
    background: multiply(@themeMainBackground, #ddd) !important;
  }
  &[data-position~=bottom] {
    &::before {
      background: screen(@themeMainBackground, #aaa) !important;
    }
  }
  &::after {
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    background: linear-gradient(to bottom, screen(@themeMainBackground, #aaa) 20%, multiply(@themeMainBackground, #ddd) 80%);
    border-color: #aaa;
  }
}


.cp.titlebar {
  background: @themeTitlebarBackground;
  border-bottom: 2px solid @cpWhite20;
  width: 100%;
  height: @fullHeaderHeight;
  z-index: 1001;
  font-size: 20px;
  padding-top: (@dragbarHeight - 6px);
  display: flex;
  align-items: center;
  justify-content: center;
  .draggable;

  &.secondary {
    height: 95px;
    background: @themeSecondaryTitlebarBackground;
  }

  .title {
    font-size: 110%;
    width: 100%;
    text-align: center;
  }

  span {
    flex: 0 1 100%;
  }

  a {
    .nondraggable;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 2.7em;
    align-self: flex-end;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.1s ease-in;
    color: #fff;
    &:hover, &:focus, &:active {
      color: #fff;
      opacity: 1;
      &.back {
        text-shadow: 0 0 15px rgba(255,255,255,0.6);
      }
    }
    &.back {
      align-self: stretch;
      font-size: 36px;
      width: 60px;
      margin: 0;
      height: auto;
    }
    &[data-tooltip] {
      &:before, &:after { top: 85% !important; }
    }
    &[data-position~="left"][data-tooltip] {
      &:before { left: 1.7em; }
      &:after { left: 0.7em; }
    }
    &[data-position~="right"][data-tooltip] {
      &:before { right: 1.7em; }
      &:after { right: 0.7em; }
    }
  }

  .account img {
    height: 26px;
  }
}


a.external {
  cursor: pointer;
}


// review
.screen {
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  display: flex;
  flex-flow: column;
  overflow: hidden;
}


#connect-screen {
  .screen;
  //> div {
    background: linear-gradient(to bottom, #494, #fff 120px, #fff 40%, #eee 75%, #ccc);
    box-shadow: inset 0 0 0 2px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  //}
  #titlebar {
    background: multiply(@themeTitlebarBackground, #ddd);
    body.is-focused & { background: @themeTitlebarBackground; }
    transition: background-color 0.2s linear;
    border-bottom: 2px solid @themeBorderColor;
    height: 70px;
    padding-top: 25px;
    img {
      opacity: 0.75;
      transition: opacity 0.2s linear;
      margin-right: -8px;
      body.is-focused & { opacity: 1; }
    }
  }
  #matrix {
    display: none;
    position: absolute;
    top: 70px;
    width: 100%;
    bottom: 0;
    .bits-img {
      animation: slide-down 70s linear infinite;
      animation-play-state: paused;
      opacity: 0.1;
      position: absolute;
      top: 0;
      left: 0;

      &#bits-two {
        animation-name: slide-up;
        // animation: slide-up 70s linear infinite;
        // animation-play-state: paused;
      }

      .is-focused & {
        animation-play-state: running;
      }
    }    
  }
  .page-link {
    position: absolute;
    top: 35px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 24px;
    z-index: 1002;
    .nondraggable;
    background-color: multiply(@themeTitlebarBackground, #ddd);
    body.is-focused & { background-color: @themeTitlebarBackground; }
    transition: background-color 0.2s linear, color 0.2s linear;
    background-image: linear-gradient(to bottom, transparent 50%, transparent);
    color: saturate(screen(@themeTitlebarBackground, #ccc), 40%);
    border-bottom: 2px solid @themeBorderColor;
    border-top: none;
    img {
      opacity: 0.65;
      transition: 0.3s opacity ease;
    }
    &:hover, &:focus {
      color: #fff;
      background-image: linear-gradient(to bottom, transparent 20%, rgba(150,255,150,0.25) 100%);
      //transition+: 0.3s color ease;
      img { opacity: 1; }
    }
    &.left {
      left: 0;
      border-radius: 0 30px 30px 0;
      border-right: 2px solid @themeBorderColor;
      img {
        position: relative;
        left: -2px;
      }
    }
    &.right {
      right: 0;
      border-radius: 30px 0 0 30px;
      border-left: 2px solid @themeBorderColor;
      padding-left: 6px;
    }
    &[data-tooltip] {
      &:before, &:after {
        top: 86% !important;
      }
    }
    &[data-position~="left"][data-tooltip] {
      &:before { left: 1.6em; }
      &:after { left: 0.7em; transform-origin: left top; }
    }
    &[data-position~="right"][data-tooltip] {
      &:before { right: 1.5em; }
      &:after { right: 0.7em; transform-origin: right top; }
    }

    // Reapply default styles when the settings or account menu is open
    .subpanel ~ & {
      color: saturate(screen(@themeMainBackground, #ccc), 40%) !important;
      background-image: linear-gradient(to bottom, transparent 50%, transparent) !important;
      img { opacity: 0.8 !important; }
    }
    .subpanel ~ &[data-tooltip] {
      &::before, &::after { display: none !important; }
    }
  }
  #connect-container {
    z-index: 1;
    cursor: pointer;
    // margin-top: (130px - @fullHeaderHeight);
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 85px;
    opacity: 1;
    transition: 0.5s opacity;

    &.hidden {
      opacity: 0;
      pointer-events: none;
    }

    svg {
      pointer-events: none;
      -webkit-filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.5));

      .connecting & {
        .ring {
          // stroke: blue !important;
          animation: spinConnect 2s linear infinite;
        }
      }
    }
  }
  #firewall-warning {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    &.visible {
      display: block;
      opacity: 0.7;
    }
    position: absolute;
    right: 0;
    top: @fullHeaderHeight; // TODO: Don't hardcode
    z-index: 10;
    padding: 10px;
    cursor: pointer;
    color: white;
    i.warning {
      color: @cpYellowDark;
      //text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    }
    span {
      white-space: nowrap;
    }
    &:hover {
      opacity: 1;
    }
    &:before { // tooltip arrow
      right: 35px;
    }
    &:after { // tooltip text content
      white-space: normal;
      width: 75vw;
      right: 10px;
    }
  }

  .worldmap {
    position: absolute;
    left: 0;
    top: 0;
    transition: transform 0.8s ease-in-out;
    transform: translate(50vw, 360px);
    &.side {
      transform: translate(75vw, 60vh);
      .marker::before {
        color: #488;
      }
    }
  }

  .connect-status {
    position: absolute;
    top: 260px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    color: rgba(0,0,0,0.75);
    font-weight: 500;
    > span {
      &:first-child {
        font-size: 10px;
        overflow-x: visible;
        font-weight: 800;
      }
      font-size: 16px;
      text-transform: uppercase;
    }
    .killswitch-warning, .error-status {
      [data-tooltip] {
        display: inline-block;
        width: 25px;
        margin-right: -25px;
        text-align: center;
        color: #eb0;
        &:before {
          right: 7px;
          top: auto;
          bottom: -17px;
        }
        &:after {
          position: fixed;
          right: 25px;
          left: 25px;
          top: initial;
          margin-top: 29px;
          white-space: pre-line;
        }
      }
    }
    .error-status.critical {
      [data-tooltip] {
        color: #f44;
      }
    }
    .fadeInTransition(0.5s, ease-in, 0.3s);
    &.hidden { .fadeOutTransition(0.5s, ease-out); }
  }

  .location-selector {
    @horizontalPadding: 18px;
    @height: 48px;
    @borderWidth: 4px;
    position: absolute;
    top: 400px;
    display: flex;
    align-items: center;
    border-radius: 100px;
    background-color: #fff;
    background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.125));
    padding: 0px @horizontalPadding;
    border: @borderWidth solid #ccc;
    height: @height;
    z-index: 1;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.4s, color 0.4s, border-color 0.4s;
    color: #444;
    &::after {
      .semanticIcon('\f054');
      margin-left: 10px;
      border-radius: 100px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      align-self: stretch;
      margin-right: (-@horizontalPadding);
      width: (@height - 2 * @borderWidth);
      height: (@height - 2 * @borderWidth);
      background: linear-gradient(to right, rgba(0,0,0,0.1), transparent 50%);
      font-size: 1em;
      color: rgba(0,0,0,0.25);
      transition: color 0.2s;
    }
    &:hover {
      //background: #485;
      //color: white;
      border-color: #9b9;
      background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.125)), linear-gradient(to left, #8c8, transparent 50px);
      transition: background-color 0.16s, color 0.16s, border-color 0.16s;
      &::after {
        color: white;
        //background: linear-gradient(to right, #485, transparent);
      }
    }
    .cypherplay {
      > img {
        margin-left: -5px;
      }
    }
    .fadeInTransition(0.5s, ease-in, 0.3s);
    &.hidden { .fadeOutTransition(0.5s, ease-out); }
  }

  .info-button {
    position: absolute;
    font-size: 20px;
    right: 10px;
    bottom: 10px;
    width: auto;
    height: auto;
    cursor: pointer;
    color: rgba(80,255,255,0.5);
    padding: 2px 5px;
    z-index: 10;
    &::before {
      .semanticIcon('\f05a');
    }
    &:hover {
      color: white;
    }
  }
  .info-panel {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    display: flex;
    align-items: stretch;
    background: linear-gradient(to bottom, transparent, rgba(16,64,64,0.9) 5px, rgba(24,96,96,0.5));
    padding: 10px 60px 10px 0;
    > .graph {
      flex: 1 1 auto;
      margin-right: 5px;
      background: linear-gradient(to top, rgba(80,255,255,0.1), transparent);
      border-bottom: 1px solid rgba(160,255,255,0.5);
      background-clip: padding-box;
      #graph-lines {
        stroke-opacity: 0.5;
        stroke-width: 2.5px;
        fill: none;
      }
      #graph-line-up {
        stroke: #f82;
      }
      #graph-line-down {
        stroke: #4fc;
      }
    }
    > .stats {
      align-self: flex-end;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      white-space: nowrap;
      > .title {
        margin-top: 5px;
        font-size: 10px;
        text-transform: uppercase;
        color: rgba(0,255,255,0.5);
      }
      > .value {
        font-size: 14px;
        color: rgba(200,255,255,0.75);
        &.up {
          color: fade(lighten(#f82, 20%), 75%);
        }
        &.down {
          color: fade(lighten(#4fc, 20%), 75%);
        }
      }
    }
  }
  .ip-info {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 15px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 15px;
    color: #666;
    > div {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 5px;
      padding: 4px 8px 4px 4px;
      border-radius: 3px;
      background-color: rgba(255,255,255,0.4);
      transition: background-color, box-shadow, transform;
      transition-duration: 0.5s;
      &.hidden {
        display: none;
      }
      &.error {
        background-color: rgba(255,220,220,0.4);
        color: fade(#600, 60%);
        &:hover {
          background-color: rgba(255,220,220,0.6);
          color: fade(#600, 80%);
        }
      }
      &:first-of-type {
        margin-left: 0;
      }
      > span {
        display: block;
        &:first-of-type {
          text-transform: uppercase;
          font-weight: 500;
          font-size: 10px;
          line-height: 13px;
          margin-left: 22px;
          white-space: nowrap;
          opacity: 0.5;
          transition: opacity;
          transition-duration: inherit;
        }
        > i.icon {
          width: 20px;
          margin-right: 2px;
        }
      }
      &.clickable {
        cursor: pointer;
        background-color: rgba(255,255,255,0.6);
      }
      &:hover {
        background-color: rgba(255,255,255,0.6);
      }
      &:hover, &.clickable:active {
        > span:first-of-type {
          opacity: 0.75;
        }
      }
      &.clickable:hover, &.clickable:active {
        background-color: rgba(255,255,255,0.9);
        box-shadow: 1px 1px 2px rgba(0,0,0,0.25);
      }
      &:hover {
        transition-duration: 0.16s;
      }
      &.clickable:active {
        transition-duration: 0.3s;
      }
      &.clickable:active:hover {
        transition-duration: 0.1s;
        transform: translate(1px,1px);
        box-shadow: 0 0 2px rgba(0,0,0,0.25);
      }
    }
  }
}

#login-screen {
  .screen;
  .draggable;
  background: @themeWindowBackground;
  text-align: center;
  align-items: center;
  justify-content: center;
  //padding: 3em 2.5em 0;

  > .background {
    position: absolute;
    top: 37px;
    margin: 0 auto;
    width: auto;
    height: auto;
    z-index: 1;
  }

  > .pipe {
    background: white;
    position: absolute;
    top: 190px;
    width: 100%;
    height: 34px;
    border-top: 2px solid black;
    background: #2b565a;
    line-height: 12px;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #7ffffb;
    //overflow-x: hidden;

    > div {
      transform: translate3d(0,0,0);
      width: auto;
      position: absolute;
      white-space: pre;
    }
    > div:nth-child(1) {
      animation: 20s linear infinite paused marquee;
      top: 3px;
    }
    > div:nth-child(2) {
      animation: 20s linear reverse infinite paused marquee;
      top: 15px;
      color: #5fbfbb;
    }
    .is-focused & > div {
      animation-play-state: running;
    }

    &::after {
      content: '';
      position: absolute;
      top: -1px;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(to right, @themeWindowBackground, transparent, @themeWindowBackground);
    }
  }

  @headerHeight: 75px;
  @headerGradientTop: rgba(0,0,0,0.5);
  @headerGradientBottom: rgba(0,0,0,0.25);
  @headerArrowHeight: 10px;
  > .header {
    position: absolute;
    display: block;
    margin: 0;
    left: 0;
    top: 224px;
    width: 100vw;
    height: @headerHeight;
    background: linear-gradient(to bottom, @headerGradientTop, @headerGradientBottom 20px);
    z-index: 0;
  }

  > .back {
    .nondraggable;
    position: absolute;
    z-index: 10;
    left: 0;
    bottom: 0;
    line-height: 50px;
    padding: 0 20px 0 12px !important;
    font-size: 16px !important;
    border: none !important;
  }

  // What actually goes into the header; positioned inside page itself
  .title {
    position: absolute;
    top: -@headerHeight;
    height: @headerHeight;
    font-size: 19px;
    line-height: (@headerHeight - 30px);
    padding-top: 16px;

    > .welcome {
      text-align: left;
      font-size: 13px;
      margin: 1px 0 -8px 0;
      color: #6ae38c;
      font-weight: 200;
      letter-spacing: 0.1em;
      line-height: 14px;
    }
    > .logo {
      width: 240px;
      margin-top: 10px;
      margin-right: -12px;
    }
    > .text {
      color: #fff;
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
      max-width: 90vw;
    }
    > .loading {
      color: #50aeb7;
      font-size: 14px;
    }

    &::after {
      content: '';
      display: block;
      width: (2 * @headerArrowHeight);
      position: absolute;
      left: 50%;
      top: @headerHeight;
      //margin-top: @bottomPadding;
      margin-left: (-@headerArrowHeight);
      border: @headerArrowHeight solid transparent;
      border-top-color: @headerGradientBottom;
      border-bottom: none;
    }
  }

  form {
    position: absolute;
    width: 100%;
    top: @headerHeight;
    bottom: 0;
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;
    padding: 20px 2.5em 50px;
    z-index: 2;

    .padding {
      visibility: hidden;
      pointer-events: none;
      &:first-child { flex: 1 0 0; }
      &:last-child { flex: 2 0 0; }
    }

    input {
      .nondraggable;
      border: none;
      background: rgba(0,0,0,0.1);
      width: 100%;
      color: #fff;
      padding: 14px;
      font-size: 125%;
      transition: background-color 0.2s, border-color 0.2s, color 0.2s;
      border-radius: 6px;
      border: 1px solid rgba(127,255,252,0.2);

      &:focus {
        background: rgba(0,0,0,0.2);
        border-color: rgba(127,255,252,0.4);
      }
    }
    .input {
      .nondraggable;
      width: 100%;
      &.icon .icon {
        font-size: 150%;
        &.link {
          color: #7ffffc;
        }
      }
      &.loading.icon .icon {
        font-size: 100%;
        margin-right: 0.5em;
        cursor: default;
        pointer-events: none;
      }
      + .input {
        margin-top: 2px;
      }
      &.group {
        input {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
        + .input input {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }
    }
  }

  .desc {
    font-size: 130%;
    font-weight: 300;
    color: rgba(255,255,255,0.8);
    margin-bottom: 1em;
  }

  .login-check {
    justify-content: center;
  }

  .login-email {

  }

  .login-password {
    > .name {
      margin: 5px -100px 15px;
      background: rgba(255,255,255,0.07);
      font-size: 18px;
      line-height: 49px;
      width: 100vw;
      //.chiseled-border-box(10px, rgba(255,255,255,0.1));
    }
    > .desc {
      margin-bottom: 1.5em;
      color: rgba(255,255,255,0.5);
    }
    > .forgot {
      align-self: flex-end;
      margin-top: 5px;
      margin-right: 5px;
    }
    > .wrong-password {
      animation: 0.3s horizontal-shake;
      > input {
        transition: 0.2s background-color, 0.2s border-color;
        background-color: rgba(255,0,0,0.25);
        border-color: rgba(255,0,0,0.8);
      }
      &::after {
        content: "Wrong password!";
        display: block;
        position: absolute;
        left: 0;
        top: 100%;
        color: rgba(255,0,0,0.8);
        margin-left: 5px;
        margin-top: 5px;
        padding: 2px 0;
        font-weight: 600;
      }
    }
  }

  .login-register {
    .loader {
      position: absolute;
      left: 0;
      top: auto;
      right: 0;
      bottom: 75px;
      height: 50px !important;
    }
    .register {
      margin-top: 10px;
      align-self: flex-end;
      font-size: 18px;
      font-weight: 500;
      line-height: 20px;
      color: rgba(150,255,255,0.5);
      .fadeInTransition(0.3s);
    }
    .license {
      margin-top: 30px;
      color: rgba(200,255,255,0.5);
      .fadeInTransition(0.3s);
      a {
        .nondraggable;
        transition: color 0.1s;
      }
    }
    &.loading {
      .register {
        .fadeOutTransition(0.3s);
      }
      .license {
        .fadeOutTransition(0.3s);
      }
    }
  }

  .login-confirm {
    .link {
      font-size: 18px;
    }
    .loader {
      margin-top: 30px;
    }
    .button {
      margin: 0 0 0.5em 0;
    }
  }

  .login-analytics {
    .desc {
      font-size: 17px;
    }
    button.allow {
      position: relative;
      margin: 10px;
      background: #1987bd;
      border: none;
      font-size: 18px;
      font-weight: bold;
      width: 165px;
      height: 42px;
      border-radius: 5px;
      box-shadow: 2px 2px 0 2px #0d1e26;
      .nondraggable;
      cursor: pointer;
      &:active {
        left: 1px;
        top: 1px;
        box-shadow: 1px 1px 1px 0 #0d1e26;
      }
    }
    a.disallow {
      padding: 10px;
      font-size: 14px;
      text-decoration: underline;
      color: #50aeb7;
      .nondraggable;
      cursor: pointer;
    }
  }

  .login-logout {
    justify-content: center;
  }

  .cp.button {
    display: inline-block;
    cursor: pointer;
    width: 100%;
    font-size: 125%;
    color: rgba(255,255,255,0.75);
    background: rgba(0,0,0,0.125);
    box-shadow: 2px 5px 5px -5px rgba(0,0,0,0.5);
    line-height: 1em;
    padding: 0.6em;
    margin-top: 1em;
    border-radius: 2px;
    transition: background-color 0.2s, color 0.2s;
    border: none;

    &:hover,
    &:focus {
      background: rgba(0,0,0,0.25);
      color: #fff;
      outline: none;
    }

    .icon {
      margin-left: -1.18em;
    }
  }

  a.link {
    .nondraggable;
    cursor: pointer;
    color: rgba(200,255,255,0.3);
    text-decoration: none;
    font-size: 14px;
    padding: 2px 0;
    border-bottom: 1px dotted transparent;
    transition: color 0.2s, border-bottom-color 0.2s, visibility 0.2s;
    //display: block;
    &:hover, &:active, &:focus {
      color: #7ffffc !important; //#fff;
      &.underline {
        border-bottom: 1px dotted #fff;
      }
    }
  }
  a.button {
    .nondraggable;
    position: relative;
    display: block;
    width: 60%;
    font-size: 18px;
    cursor: pointer;
    color: rgba(255,255,255,0.4);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 6px;
    margin: 0.5em auto;
    line-height: 35px;
    transition: color 0.2s, border-color 0.2s, background-color 0.2s;
    > i.icon {
      margin-left: -0.5em;
    }
    &:hover, &:focus {
      border-color: rgba(127,255,252,0.4);
      background: rgba(0,0,0,0.1);
    }
    &:focus {
      color: rgba(255,255,255,0.75);
    }
    &:hover {
      color: #fff;
    }
    &:active {
      top: 1px;
      left: 1px;
      color: #fff;
      border-color: rgba(255,255,255,0.4);
      background: rgba(0,0,0,0.2);
    }
  }

  input:focus + .forgot {
    color: rgba(255,255,255,0.5);
  }

  input:valid + .forgot {
    color: transparent;
    visibility: hidden;
  }

  .login {
    margin-top: 0.3em;
  }

  .signup {
    color: @cpYellow !important;
  }

  .divider {
    margin: 1.5em 2em 1.3em;
    color: rgba(255,255,255,0.25);
    font-size: 90%;
  }

  .dimmer {
    background-color: rgba(0,0,0,0.4) !important;
  }

  a:focus {
    outline: none;
  }

  #version {
    position: absolute;
    right: 16px;
    bottom: 16px;
    font-size: 14px;
    color: rgba(255,255,255,0.25);
  }
}


#connect-status {
  font-size: 24px;
  font-weight: 500;
  color: #ccc;
  position: absolute;
  top: 240px;
  display: none;
}

#connection-stats {
  margin-top: 30px;
  width: 60%;
  display: none;

  .value {
    color: #aaa;
  }

  .label {
    color: #777;
  }
}

// #connection-stats .value {
//   color: #aaa;
// }
//
// #connection-stats .label {
//   color: #777;
// }

#config-screen {
  .screen;
}

#upgrade {
  // width: 200px !important;
  // height: 40px !important;
  // border: 1px solid #fff !important;
  // box-shadow: none !important;
}

dialog {
  border: none;
  margin: 0;
  padding: 0;
  z-index: 10;
  &::backdrop {
    background: none;
  }
  &.dimmer {
    z-index: 9000;
    background: rgba(0,0,0,0.6) !important;
    a {
      cursor: pointer;
      position: relative;
      top: 96%;
      padding-bottom: 2px 0;
      border-bottom: 1px solid transparent;
      &:hover, &:active, &:focus {
        color: @cpYellow !important; //#fff;
        border-bottom: 1px dotted #fff;
      }
    }
  }
}

// Used to turn Semantic tooltips translucent
[data-tooltip][data-inverted] {
  &:before, &:after {
    //background-color: #4670a7 !important;
  }
}

.ui.input.loading.icon .icon {
  &:before {
    border-color: @loaderRingColor !important;
  }
  &:after {
    border-color: @loaderActiveColor transparent transparent !important;
  }
}
.ui.loader {
  &:before {
    border-color: @loaderRingColor !important;
  }
  &:after {
    border-color: @loaderActiveColor transparent transparent !important;
  }
}

.bullet-loader {
  > span {
    opacity: 0.4;
    animation: 1s infinite bullet-loader-animation;
  }
  > span:nth-child(1) { animation-delay: 0.0s; }
  > span:nth-child(2) { animation-delay: 0.2s; }
  > span:nth-child(3) { animation-delay: 0.4s; }
}
@keyframes bullet-loader-animation {
  0% { opacity: 0.4; }
  20% { opacity: 1.0; }
  50% { opacity: 0.5; }
  100% { opacity: 0.4; }
}

// button styles
.ui.button {
  display: inline-block;
  cursor: pointer;
  width: 100%;
  font-size: 125%;
  color: rgba(255,255,255,0.75);
  background: rgba(0,0,0,0.125);
  box-shadow: 2px 5px 5px -5px rgba(0,0,0,0.5);
  line-height: 1em;
  padding: 0.6em;
  border-radius: 2px;
  transition: background-color 0.2s, box-shadow 0.2s, color 0.2s;
  border: none;

  &:hover,
  &:focus {
    background: rgba(0,0,0,0.25);
    box-shadow: 2px 7px 8px -5px rgba(0,0,0,0.5);
    color: #fff;
    outline: none;
  }

  .icon {
    margin-left: -1.18em;
  }
}


// button,
// button.button,
// #update {
//   padding: 1rem;
//   width: 100%;
// }

.button1 {
  display: inline-block;
  // border: 1px solid #fff;
  height: 40px;
  width: 300px;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  color: #fff;
  border-radius: 4px;
  padding: 11px;
  background-color: @cpYellow;
  .btn-gradient--primary;
}

.button2 {
  display: inline-block;
  height: 40px;
  width: 300px;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  background: @cpWhite25;
  color: #fff;
  padding: 11px;
}



#status-screen {
  min-height: 459px;
  background: rgba(255,255,255,0.16);
  position: relative;
  top: @fullHeaderHeight;
}



.container__comp {
  height: 100vh !important;

  &.account {
    background-color: @cpBgDark;
    overflow-y: auto;
    .bodyHeight;
  }
}



.account,
.settings {
  .ui.grid>.row>.olive.column {
    background-color: transparent !important;
  }
}

.container__comp--config {
  .bodyHeight;
  color: #f8cf1c;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  // top: @headerHeight;

  .header {
    margin: 14px 1rem;
    text-transform: uppercase;
    width: 100%;
  }
}

.cp_config_header {
  font-size: 20px !important;
  // height: 49px !important;
  // min-height: 49px !important;
  border-bottom: 1px solid rgba(255,255,255,0.15) !important;
  height: (@dragbarHeight + @headerHeight);
  padding-top: @dragbarHeight;
  // position: absolute;
  top: 0;
  z-index: 1001;
  .draggable;

  &.ui.menu.inverted {
    background: none;
  }

  &.ui.menu .item {
    padding-left: 0.5rem;
  }

  .account & {
    background-color: @cpBgDark;
  }
}

.settingsContainer {
  position: relative;
  top: 56px;
  overflow-x: hidden;
  overflow-y: scroll;
  .bodyHeight;
}

.cp-settings {
  .header {
    text-transform: uppercase;
    margin: 14px 1rem;
    color: @cpYellowDark;
    padding-top: 0;
    padding-bottom: 0;
  }
  .dropdown {
    font-size: 1rem !important;
  }
}

.cp_config_tabs {
  font-size: 16px !important;
  height: 48px !important;
  min-height: 48px !important;
}

.cp_account_avatar {
  font-size: 20px !important;
  // height: 60px !important;;
  line-height: 30px !important;
  width: 100% !important;
}

.cp_account_stats {
  font-size: 1.5rem;
  margin-top: 10px !important;
}

.cp_renew_date {
  font-size: 14px;
  color: #fff;
  display: block;
  margin-top: 10px;
}

.cp_h3 {
  font-size: 14px !important;
  text-transform: uppercase;
}

.cp_row {
  font-size: 16px !important;
  min-height: 48px !important;
  line-height: 16px !important;

  .right {
    i {
      margin-right: 0;
    }
  }
}

.cp_button {
  // width: 200px !important;
  height: 40px !important;
  border-radius: 5px !important;
  border: solid 1px #cccccc !important;
}

small {
  display: block;
  color: rgba(255,255,255,0.6);
  font-size: 14px;
  line-height: 1;
  padding-top: 2px;
}

.tabscroll {
  // max-height: 411px;
  // overflow-x: hidden;
  // overflow-y: scroll;
  height: calc(~"100vh -" (@dragbarHeight + @headerHeight));
}



// Forms
.cp-form {
  overflow-y: auto;
  padding-bottom: 4rem;
  .bodyHeight;

  .row {
    display: flex;
    flex-direction: column;
    padding: 0.75rem 1rem;
    align-items: center;
    // border-bottom: 1px solid @border-light;
  }

  .form__field {
    position: relative;
    width: 100%;
    // flex-direction: row;
    // flex-grow: 2;
    // text-align: right;

    .material & {
      border-bottom: 1px solid @border-light;
      flex-direction: row;
      align-items: center;

      i.icon {
        color: rgba(255,255,255,0.5);
        margin-right: 0.5rem;
        position: absolute;
        top: 1rem;
      }
    }
  }

  .isolate {
    margin-top: 1.5rem;
  }

  input[type="text"],
  input[type="password"] {
    background: 0 0;
    .border-full--light;
    font-size: 1.25rem;
    padding: 0.75rem 1rem;
    width: 100%;

    &:focus {
      outline: none;
      background-color: darken(@cpBgDark, 5);
    }

    .material & {
      border: none;
      border-bottom: 1px solid @border-light;
      padding-left: 2rem;
      transition: all ease 0.2s;
      width: 100%;

      &:focus {
        background-color: transparent;
        border-color: #fff;
      }
    }
  }

  .actions__form {
    padding: 0.75rem 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .button {
    background-color: @cpBg;
    // border: 1px solid rgba(255,255,255,0.75);
    &:hover {
      background-color: lighten(@cpBg, 10);
    }
  }
}


// Basic panel with rows
.cp-panel__rows {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  text-align: left;

  .setting {
    border-bottom: 1px solid @border-light;
    font-size: 1.25rem;
  }

  .row {
    padding: 0 1rem;
  }

  a {
    cursor: pointer;
    display: block;
    padding: 1rem 0;
  }

  .icon {
    margin-right: 0.5rem;
  }

  h1 {
    color: @cpYellow;
    font-size: 1rem;
    margin-bottom: 0.25rem;
    text-transform: uppercase;
  }

  .descrip {
    color: @cpWhite60;
    margin-bottom: 0.5rem;
  }

  .fieldgroup {
    padding: 0.5rem 0;
  }
}




// Positioning
.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}




.overlay-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  z-index: 999;
}

#window-close {
  position: fixed;
  top: 0;
  right: 0;
  width: @dragbarHeight;
  height: @dragbarHeight;
  line-height: @dragbarHeight;
  font-size: 18px;
  margin: 0;
  z-index: 9001;
  color: #8c8;
  cursor: pointer;
  padding-right: 2px;
  .nondraggable;
  transition: 0.3s color ease;
  opacity: 0.5;
  &:before {
    position: relative;
    content: '\f2d4';
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  }
  &:hover, &:active {
    opacity: 1;
    &:before {
      content: '\f2d3';
    }
  }
  &:hover {
    color: #fff;
  }
  &:active {
    color: #7b7;
    transition: 0.1s color ease;
    &:before {
      top: 1px;
      left: 1px;
      text-shadow: 0 0 2px rgba(0,0,0,0.5);
    }
  }
}

.reconnect-button {
  position: fixed;
  display: block;
  left: 0;
  width: 100vw;
  bottom: 0;
  height: 44px;
  line-height: 42px;
  padding: 1px;
  font-size: 16px;
  text-align: center;
  border-radius: 8px 8px 0 0;
  background: #3f7f7e;
  color: #0f1f1e;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index: 19;
  > span {
    font-weight: 800;
    text-transform: uppercase;
    margin-right: 1px;
  }
  &:hover {
    background: #7ffffc;
    color: black;
  }
  &:active {
    padding: 2px 0 0 2px;
  }
}

dialog.tutorial-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: none !important;
  z-index: 1009;
  cursor: pointer;
  pointer-events: none;

  &::backdrop {
    background: none !important;
  }
  .dragbar {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 70px;
    z-index: 1010;
    cursor: default;
    .draggable;
  }
  .is-focused & {
    pointer-events: initial;
  }
  .hole {
    position: absolute;
    box-sizing: content-box;
    border-radius: 1000px;
    margin-left: -600px;
    margin-top: -600px;
    border: 600px solid rgba(0,0,0,0.65);
    transition-duration: 500ms;
    transition-property: left, top, width, height, background-color, border-color;
  }
  &.page-0 .hole {
    background-color: @themeWindowBackground;
    border-color: @themeWindowBackground;
  }
  .welcome {
    position: absolute;
    top: 240px;
    left: 40px;
    right: 40px;
    bottom: 60px;
    text-align: center;
    color: rgba(255,255,255,0.9);
    font-size: 16px;
    > h3 {
      font-size: 200%;
      font-weight: 600;
      margin-bottom: 40px;
    }
    &.tutorial {
      @transitionTime: 700ms;
      &-enter {
        pointer-events: none !important;
        opacity: 0;
        &-active {
          opacity: 1;
          transition: opacity @transitionTime cubic-bezier(1,0,.5,1);
        }
      }
      &-leave {
        pointer-events: none !important;
        opacity: 1;
        &-active {
          opacity: 0;
          transition: opacity @transitionTime cubic-bezier(.5,0,0,1);
        }
      }
    }
  }
  .desc {
    background: rgba(255,255,255,0.75);
    color: black;
    font-size: 18px;
    position: absolute;
    border-radius: 15px;
    padding: 15px;
    &::before {
      position: absolute;
      border: 10px solid transparent;
    }
    &.top::before {
      content: '';
      bottom: 100%;
      transform-origin: 50% bottom;
      border-top: none;
      border-bottom: 20px solid rgba(255,255,255,0.75);
    }
    &.bottom::before {
      content: '';
      top: 100%;
      transform-origin: 50% top;
      border-bottom: none;
      border-top: 20px solid rgba(255,255,255,0.75);
    }
    &.left::before { left: 20%; }
    &.center::before, &:not(.left):not(.right)::before { left: 50%; }
    &.right::before { right: 20%; }
    &.top { transform-origin: 50% top; &::before { transform: translateX(-50%); } }
    &.top.left { transform-origin: 20% top; &::before { transform: translateX(-50%) skewX(50deg); } }
    &.top.right { transform-origin: 80% top; &::before { transform: translateX(50%) skewX(-50deg); } }
    &.bottom { transform-origin: 50% bottom; &::before { transform: translateX(-50%); } }
    &.bottom.left { transform-origin: 20% bottom; &::before { transform: translateX(-50%) skewX(-50deg); } }
    &.bottom.right { transform-origin: 80% bottom; &::before { transform: translateX(50%) skewX(50deg); } }
    &.tutorial {
      @transitionTime: 700ms;
      &-enter {
        pointer-events: none !important;
        opacity: 0;
        transform: scale(0);
        &-active {
          opacity: 1;
          transform: scale(1);
          transition: opacity (@transitionTime/2) cubic-bezier(1,0,.5,1) (@transitionTime/2), transform (@transitionTime/2) ease-in (@transitionTime/2);
        }
      }
      &-leave {
        pointer-events: none !important;
        opacity: 1;
        transform: scale(1);
        &-active {
          opacity: 0;
          transform: scale(0);
          transition: opacity (@transitionTime/2) cubic-bezier(.5,0,0,1), transform (@transitionTime/2) ease-out;
        }
      }
    }
  }
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: #488;
    transition: 0.1s color, 0.2s opacity;
    opacity: 0.5;
    line-height: 100px;
    width: 50px;
    text-align: center;
    background: @themeWindowBackground;
    &:hover {
      color: white;
      opacity: 1;
      &::before {
        transform: scale(1.2);
      }
    }
    &::before {
      transition: 0.2s opacity, 0.1s transform;
      display: block;
    }
  }
  .next {
    right: 0;
    border-radius: 50px 0 0 50px;
    padding-left: 14px;
    &::before { .semanticIcon('\f054'); }
  }
  .prev {
    left: 0;
    border-radius: 0 50px 50px 0;
    padding-right: 14px;
    &::before { .semanticIcon('\f053'); }
  }
  .skip {
    .nondraggable;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #488;
    font-size: 15px;
    text-decoration: underline;
    border-radius: 100px 100px 0 0;
    width: 200px;
    height: 44px;
    line-height: 42px;
    background: @themeWindowBackground;
    border: 2px solid #488;
    border-bottom: none;
    transition-duration: 0.2s;
    transition-property: color, border-color, background-color, box-shadow, opacity;
    &:hover, &:focus, &:active {
      color: white;
      border-color: white;
    }
    &.tutorial {
      @transitionTime: 700ms;
      &-enter {
        pointer-events: none !important;
        transform: translateX(-50%) translateY(100px);
        opacity: 0;
        &-active {
          transform: translateX(-50%) translateY(0px);
          opacity: 1;
          transition: transform @transitionTime ease-in, opacity @transitionTime ease-in;
        }
      }
      &-leave {
        pointer-events: none !important;
        transform: translateX(-50%) translateY(0px);
        opacity: 1;
        &-active {
          transform: translateX(-50%) translateY(100px);
          opacity: 0;
          transition: transform @transitionTime ease-out, opacity @transitionTime ease-out;
        }
      }      
    }
  }
  &.page-0 .skip {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
  }
}

@import "panel.less";
@import "region-selector.less";
@import "location-list.less";
@import "quick-panel.less";
@import "worldmap.less";
@import "connect-button.less";
