
.region-selector2 {
  @barHeight: 40px;
  @itemHeight: 38px;
  @visibleItems: 5;

  position: absolute;
  left: 0;
  top: calc(~"100vh - " (@barHeight + (@itemHeight * @visibleItems)));
  width: 100%;
  bottom: 0;
  z-index: 2;
  transition+: top 350ms cubic-bezier(0.5,0,0,1);
  background: @themeWindowBackground;
  font-size: 1.125rem;
  > .bar {
    position: relative;
    height: @barHeight;
    background: rgba(255,255,255,0.1);
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(255,255,255,0.3);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    .cp-fav {
      display: none;
    }
    &:after {
      content: '\f106';
      font-family: Icons;
      font-size: 20px;
      flex: none;
      position: absolute;
      right: 20px;
    }
    &:hover {
      background: rgba(255,255,255,0.16);
    }
  }
  > .list {
    position: absolute;
    width: 100%;
    top: @barHeight;
    bottom: 0;
    display: flex;
    flex-flow: column;
    background: linear-gradient(to bottom, rgba(0,0,0,0.13) 0, transparent 50px);
    overflow-x: hidden;
    overflow-y: overlay; // keep scrollable even in collapsed state
    > * {
      flex: 0 0 auto;
    }
    > .header {
      // border-top: 1px solid @cpWhite25;
      background-color: rgba(0,0,0,0.15);
      height: @itemHeight;
      padding: 0 15px;
      display: flex;
      align-items: center;
      font-size: 12px;
      text-transform: uppercase;
      color: rgba(255,255,255,0.6);

      &:first-child {
        border-top: none;
      }
    }
    > .region {
      font-weight: 200;
      height: @itemHeight;
      padding-left: 15px;
      cursor: pointer;
      > .flag {
        color: #fff;
      }
      > span {
        flex-grow: 1;
      }
      > span.ping-time {
        flex: none;
        color: rgba(255,255,255,0.5);
        font-size: 12px;
        font-weight: 400;
      }
      > .cp-fav {
        cursor: pointer;
        font-size: 120%;
        width: 40px;
        height: auto;
        padding-right: 6px;
        line-height: @itemHeight;
        align-self: stretch;
        color: rgba(255,255,255,0.5);
        &:before {
          content: '\f006';
        }
        &:hover {
          color: #fff !important;
        }
      }
      &.favorite > .cp-fav {
        color: @cpYellowDark;
        &:before {
          content: '\f005';
        }
        &:hover {
          color: @cpYellow !important;
        }
      }
      &:hover, &.selected:hover {
        background: rgba(255,255,255,0.1);
      }
      &.selected {
        font-weight: 600;
        color: @cpYellowDark;
        background: rgba(255,255,255,0.05);
      }
      &.disabled {
        > * { // Reduce opacity of children to prevent border from fading
          opacity: 0.5;
        }
        cursor: default;
        /*> .cp-fav { // uncomment if favoriting should be disabled for disabled items
          cursor: default;
          &:hover {
            color: inherit !important;
          }
        }*/
        &:hover {
          background: none;
        }
      }
      + .region {
        // border-top: 1px solid rgba(255,255,255,0.1);
      }
    }
  }

  // Common styles only (i.e. for list and bar)
  .region {
    .location;
  }

  .flag {
    margin-right: 10px;
  }

  &.open {
    top: 102px; // (@fullHeaderHeight - 1px);

    > .bar {
      &:after {
        content: '\f107';
      }
    }
    > .list {
      overflow-y: overlay;
    }
  }
}

.location {
  display: flex;
  align-items: center;

  > .flag {
    margin-right: 10px;
  }
  > span[data-tag]:after {
    content: attr(data-tag);
    margin-left: 10px;
    font-size: 10px;
  }
  &.premium > span[data-tag]:after {
    background: linear-gradient(329deg, @cpYellowDark, @cpYellow, @cpYellowDark);
    border-radius: 5px 0 5px 0;
    padding: 1px 3px;
    color: darken(@cpYellowDark, 40%) !important;
    font-weight: 800;
    position: relative;
    top: -1px;
  }
  &.free > span[data-tag]:after {
    background: linear-gradient(329deg, #aaa, #fff, #aaa);
    border-radius: 5px;
    padding: 1px 3px;
    color: @cpDarkBlue !important;
    font-weight: 800;
    position: relative;
    top: -1px;
    display: none; // hide for now
  }
  &.developer > span[data-tag]:after {
    background: linear-gradient(329deg, #a30, #f62, #a30);
    padding: 1px 3px;
    color: white !important;
    font-weight: 800;
    position: relative;
    top: -1px;
  }
  &.disabled > span[data-tag]:after {
    color: rgba(255,255,255,0.7);
  }
}
